<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>github</id>
      <username>jcansdale-test</username>
      <password>eed51a153868fdb4ffafaf0ee3f8f8c24d3b3ea2</password>
    </server>
  </servers>
</settings>
